package main

import (
	"{module_name}/internal/tilt/app/tilt"
	"go.bytecodealliance.org/cm"
)

func init() {
	tilt.Exports.Execute = func(req cm.List[uint8]) cm.Result[tilt.ErrorShape, cm.List[uint8], tilt.Error] {
		input := req.Slice()
		output := []byte("processed: " + string(input))
		return cm.OK[cm.Result[tilt.ErrorShape, cm.List[uint8], tilt.Error]](cm.ToList(output))
	}
}

func main() {}
