name: Check

on:
    push:
        branches-ignore:
            - main
            - dev
    pull_request:
        branches-ignore:
            - main
            - dev

jobs:
    check:
        runs-on: ubuntu-latest
        container:
            image: rust:latest

        steps:
            - uses: actions/checkout@v4

            - name: clippy
              run: cargo clippy
